/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}
@font-face {
  font-family: 'Kook';
  src: url('./assets/Kook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kook', sans-serif;
}
